doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
	title Skeleton Tomb
	// Bootstrap
	link(href='css/bootstrap.min.css', rel='stylesheet')
	// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
	// WARNING: Respond.js doesn't work if you view the page via file://
	//if lt IE 9
		script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
		script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	link(href='https://fonts.googleapis.com/css?family=Piedra', rel='stylesheet')
	link(href='css/tomb.css', rel='stylesheet')
body
	include json
	//audio playback tags
	#players.container
		each item in files
			audio(id='#{item.fileName}' preload='auto')
				source(src='audio/#{item.fileName}.mp3')
				source(src='audio/#{item.fileName}.ogg')
				| Your browser does not support the audio element.

	#main.container
		//Buttons
		#mainButtons
		h1.page-header.text-center Skeleton Tomb
		each item in files
			.row
				.col-sm-3
				.col-sm-6
					button.btn.btn-default.btn-large.btn-block.btn-danger(
						onclick="document.getElementById('#{item.fileName}').play()"
					)
						| #{item.timeWord}
						br
						i (#{item.durLong})
				.col-sm-3
		//Credits
		.some-vertical-space
		#credits
			.row
				.col-sm-4
				.col-sm-4
					a.btn.btn-default.btn-block(
						href="/skeleton-tomb/credits.html"
					) Credits
				.col-sm-4


	// jQuery (necessary for Bootstrap's JavaScript plugins)
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
	// Include all compiled plugins (below), or include individual files as needed
	script(src='js/bootstrap.min.js')
	//script(src='js/playback.js')
noscript
	p Sorry, this site requires JavaScript support.
